.Options {
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #e6e6e6;
}

.Buttons {
    width: 100%;
    display: flex;
}

.Buttons svg {
    font-size: 1.5rem;
    color: var(--color-blue);
    cursor: pointer;
}

.Buttons svg:first-child {
    margin-right: 1.2rem;
}

.Liked svg {
    color: red;
}

.Likes {
    margin-top: 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.767);
}

.Date {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.568);
}