.Container {
    flex-basis: 500px;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.Avatar {
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.Loader {
    position: absolute;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.575);
}

.Loader svg {
    color: #e6e6e6;
    font-size: 1.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.Avatar input {
    position: absolute;
    top: -1000px;
}

.Avatar .Image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Avatar .Image img {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

@media (max-width: 750px) {
    .Container {
        flex-basis: 0;
    }

    .Avatar {
        width: 77px;
        height: 77px;
    }
}