.Comments {
    flex-grow: 1;
    flex-basis: 1px;
    overflow-y: scroll;
}

.Comments::-webkit-scrollbar {
    display: none;
}

.ButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.PlusButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%; 
}
