.Comments {
    flex-grow: 1;
    flex-basis: 1px;
    overflow-y: scroll;
    position: relative;
}

.Comments::-webkit-scrollbar {
    display: none;
}

.NoComments {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.ButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.PlusButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%; 
}


@media (max-width: 765px) {
    .Comments {
        min-height: 100px;
        flex-grow: 1; 
        border-top: 1px solid #e6e6e6;
    }
}