.Posts {
    width: 100%;
    min-height: 10rem;
    position: relative;
    border-top: 1px solid #e6e6e6;
}

.PostsList {
    width: 1024px; 
    margin: 0 auto;
}

.Error {
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.753);
}

.Error a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--color-blue);
    padding: 1rem;
    width: 250px;
    margin: 1rem auto;
    color: #fff;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .PostsList {
        width: 100%;
    }
}