.OpenedPost {
    position: relative;
    width: 1024px;
    margin: 1rem auto;
    margin-bottom: 3rem;
    top: 100px;
}

.Centered {
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.Container {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.ImageContainer {
    min-width: 400px;
    min-height: 400px;
    margin-bottom: -0.5rem;
    background-color: #000;;
}

.ImageContainer img {
    max-width: calc(1024px - 334px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
}

.RightSection {
    position: relative;
    width: 334px;
    border-left: 1px solid #e6e6e6;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.OptionsContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1024px) {
    .OpenedPost {
        width: 1024px
    }
}