.OpenedPost {
    position: relative;
    width: 1024px;
    margin: 1rem auto;
    margin-bottom: 3rem;
    top: 100px;
}

.Centered {
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.Container {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    min-height: calc(100vh - 50px);
}

.ImageContainer {
    min-width: 400px;
    min-height: 400px;
    background-color: #000;
    flex-shrink: 1;
    overflow: hidden;
}

.ImageContainer img {
    max-width: calc(1024px - 334px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
}

.RightSection {
    position: relative;
    width: 334px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.OptionsContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1024px) {
    .OpenedPost {
        width: 100%;
    }

    .Centered {
        width: 100%;
        padding: 0 1rem;
    }

    .Container {
        width: 100%;
    }

    .ImageContainer {
        width: calc(100% - 334px);
    }

    .ImageContainer img {
        width: 100%;
    }
}

@media (max-width: 765px) {
    .OpenedPost {
        top: 65px;
        margin-bottom: 0;
    }
    
    .Centered {
        padding: 0;
    }

    .Container {
        border: none;
        border-top: 1px solid #e6e6e6;
        border-radius: 0;
        display: flex;
        flex-direction: column;
    }

    .ImageContainer {
        width: 100%;
        min-height: 200px;
    }

    .ImageContainer img {
        width: 100%;
        height: 100%;
    }
}