.Footer {
    padding: 1rem;
    width: 100%;
    color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e6e6e6;
    position: absolute;
    z-index: 1000000;
    margin-top: 1rem;
    bottom: -100px;
    left: 0;
}

.Footer svg {
    margin-right: 1rem;
}